body {
  background: #E8E8E8;
}

#vision-board {
  width: 1200px;
  height: 850px;
  margin: 70px auto 115px auto;
  overflow: auto;
  background-image: url("../img/background.png");
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.block {
  float: left;
  width: 400px;
  box-sizing: border-box;
}

.small-block {
  height: 210px;
  padding: 20px 35px;
}

.large-block {
  height: 430px;
  padding: 70px 35px;
}

.left-text {
  text-align: left;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.light-bg {
  background: #FFFFFF;
}

.dark-bg {
  background: #3B3B3B;
}

.title {
  color: #FFFFFF;
  font-size: 30px;
  margin-top: 10px;
}

.marker {
  font-family: "Permanent Marker", cursive;
  font-weight: normal;
}

.highlight {
  background: #FFF44F;
  padding: 4px 12px;
  font-size: 18px;
}

.large-font {
  font-size: 38px;
  text-transform: none;
}

.two-sizes {
  line-height: 30px;
}

.lower {
  padding-top: 35px;
}
